* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(0, 0, 255, 0.514);
}

header > h1 {
    text-align: center;
    margin: 15px;
    color: white;
}

article {
    width: 600px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
}

article > div {
    text-align: center;
    padding: 20px;
}

article  p {
    padding: 6px;
}

input#botao {
    padding: 5px;
    
}

footer {
    text-align: center;
    margin: 20px;
    color: white;
}